In [1]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
list=[[1,'ABC','XYZ',10000],
      [2,'XYZ','ABC',10000],
      [3,'Me','You',25000],
      [4,'Am','I',35000],
      [5,'You','Me',25000],
      [6,'I','Am',35000]]
df= spark.createDataFrame(list,['EmployeeID','FirstName','SecondName','Salary'])
df.show()

In [2]:
w=Window().partitionBy("concat").orderBy("concat")
df.withColumn("concat", F.sort_array(F.split(F.concat_ws(',',F.col("FirstName"),F.col("SecondName"),F.col("Salary").cast("string")),',')))\
.withColumn("rownum", F.row_number().over(w)).filter(F.col("rownum")==1).drop("concat","rownum").show()