In [1]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.storagelevel import StorageLevel
from pyspark.sql.types import *

In [2]:
data=  [['dhd',589,'ecdu','2020-1-5'],
        ['ahd',575,'tygp','2020-1-5'],  
        ['dhd',821,'rdsr','2020-1-5'],
        ['dhd',872,'rgvd','2019-12-1'],
        ['dhd',619,'bhnd','2019-12-15'],
        ['ahd',781,'prti','2019-12-18'],
        ['ahd',781,'prti1','2019-12-18'],
        ['dhd',781,'prti2','2019-11-18'],
        ['ahd',781,'prti3','2019-10-31'],
        ['ahd',781,'prti4','2019-09-30'],
        ['dhd',781,'prt1','2019-07-31'],
        ['ahd',781,'prti6','2019-06-28'],
        ['dhd',781,'pr2','2019-08-31'],
        ['dhd',781,'prt4','2019-01-31'],
        ['ahd',781,'prti6','2019-02-28'],
        ['dhd',781,'prti7','2019-02-02'],
        ['dhd',781,'prti8','2019-03-29'],
        ['ahd',781,'prti9','2019-04-29'],
        ['dhd',781,'prti10','2019-05-04'],
        ['ahd',781,'prti11','2019-03-01']]
columns= ['client_id','value1','name1','a_date']
df= spark.createDataFrame(data,columns)

In [3]:
#df from below sample dataframe
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.storagelevel import StorageLevel
from pyspark.sql.types import *
w1= Window().partitionBy(F.col("client_id"),F.col("Year"),F.col("Month"))
w2= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-1, 0)
w3= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-2, 0)
w4= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-3, 0)
w5= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-6, 0)
w6= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-9, 0)
w7= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-12, 0)

w=Window().partitionBy("client_id").orderBy("Month_range")
df1=df.repartition(3).persist(StorageLevel.MEMORY_AND_DISK).withColumn("a_date1", F.to_date("a_date")).withColumn("Year", F.year("a_date")).withColumn("Month",F.month("a_date")).withColumn("Month_range",F.trunc("a_date", "month").cast('timestamp'))\
.withColumn("Rank",F.dense_rank().over(w))\
.withColumn("last_0_month", F.collect_list(F.col("name1")).over(w1))\
.withColumn("last_1_month", F.collect_list(F.col("name1")).over(w2))\
.withColumn("last_2_month", F.collect_list(F.col("name1")).over(w3))\
.withColumn("last_3_month", F.collect_list(F.col("name1")).over(w4))\
.withColumn("last_6_month", F.collect_list(F.col("name1")).over(w5))\
.withColumn("last_9_month", F.collect_list(F.col("name1")).over(w6))\
.withColumn("last_12_month", F.collect_list(F.col("name1")).over(w7))\
.drop("a_date1","Month_range","Year")\
.filter(F.col("client_id")=='dhd')\
.orderBy(df.a_date.desc())
#df1 is final output
display(df1)

client_id,value1,name1,a_date,Month,Rank,last_0_month,last_1_month,last_2_month,last_3_month,last_6_month,last_9_month,last_12_month
dhd,589,ecdu,2020-1-5,1,9,"List(ecdu, rdsr)","List(bhnd, rgvd, ecdu, rdsr)","List(prti2, bhnd, rgvd, ecdu, rdsr)","List(pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)"
dhd,821,rdsr,2020-1-5,1,9,"List(ecdu, rdsr)","List(bhnd, rgvd, ecdu, rdsr)","List(prti2, bhnd, rgvd, ecdu, rdsr)","List(pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)"
dhd,619,bhnd,2019-12-15,12,8,"List(bhnd, rgvd)","List(prti2, bhnd, rgvd)","List(pr2, prti2, bhnd, rgvd)","List(prt1, pr2, prti2, bhnd, rgvd)","List(prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)"
dhd,872,rgvd,2019-12-1,12,8,"List(bhnd, rgvd)","List(prti2, bhnd, rgvd)","List(pr2, prti2, bhnd, rgvd)","List(prt1, pr2, prti2, bhnd, rgvd)","List(prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)"
dhd,781,prti2,2019-11-18,11,7,List(prti2),"List(pr2, prti2)","List(prt1, pr2, prti2)","List(prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)"
dhd,781,pr2,2019-08-31,8,6,List(pr2),"List(prt1, pr2)","List(prti10, prt1, pr2)","List(prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)"
dhd,781,prt1,2019-07-31,7,5,List(prt1),"List(prti10, prt1)","List(prti8, prti10, prt1)","List(prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)"
dhd,781,prti10,2019-05-04,5,4,List(prti10),"List(prti8, prti10)","List(prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)"
dhd,781,prti8,2019-03-29,3,3,List(prti8),"List(prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)"
dhd,781,prti7,2019-02-02,2,2,List(prti7),"List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)"
dhd,781,prt4,2019-01-31,1,1,List(prt4),List(prt4),List(prt4),List(prt4),List(prt4),List(prt4),List(prt4)

In [4]:
#df from below sample dataframe
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.storagelevel import StorageLevel
from pyspark.sql.types import *
w1= Window().partitionBy(F.col("client_id"),F.col("Year"),F.col("Month"))
w2= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-1, 0)
w3= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-2, 0)
w4= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-3, 0)
w5= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-6, 0)
w6= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-9, 0)
w7= Window().partitionBy(F.col("client_id")).orderBy(F.col("Rank")).rangeBetween(-12, 0)

w=Window().partitionBy("client_id").orderBy("Month_range")
df1=df.repartition(3).persist(StorageLevel.MEMORY_AND_DISK).withColumn("a_date1", F.to_date("a_date")).withColumn("Year", F.year("a_date")).withColumn("Month",F.month("a_date")).withColumn("Month_range",F.trunc("a_date", "month").cast('timestamp'))\
.withColumn("Rank",F.dense_rank().over(w))\
.withColumn("last_0_month", F.collect_list(F.col("name1")).over(w1))\
.withColumn("last_1_month", F.collect_list(F.col("name1")).over(w2))\
.withColumn("last_2_month", F.collect_list(F.col("name1")).over(w3))\
.withColumn("last_3_month", F.collect_list(F.col("name1")).over(w4))\
.withColumn("last_6_month", F.collect_list(F.col("name1")).over(w5))\
.withColumn("last_9_month", F.collect_list(F.col("name1")).over(w6))\
.withColumn("last_12_month", F.collect_list(F.col("name1")).over(w7))\
.drop("a_date1","Month_range","Year")\
.filter(F.col("client_id")=='dhd')\
.orderBy(df.a_date.desc())
#df1 is final output
display(df1)

client_id,value1,name1,a_date,Month,Rank,last_0_month,last_1_month,last_2_month,last_3_month,last_6_month,last_9_month,last_12_month
dhd,589,ecdu,2020-1-5,1,9,"List(ecdu, rdsr)","List(bhnd, rgvd, ecdu, rdsr)","List(prti2, bhnd, rgvd, ecdu, rdsr)","List(pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)"
dhd,821,rdsr,2020-1-5,1,9,"List(ecdu, rdsr)","List(bhnd, rgvd, ecdu, rdsr)","List(prti2, bhnd, rgvd, ecdu, rdsr)","List(pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd, ecdu, rdsr)"
dhd,619,bhnd,2019-12-15,12,8,"List(bhnd, rgvd)","List(prti2, bhnd, rgvd)","List(pr2, prti2, bhnd, rgvd)","List(prt1, pr2, prti2, bhnd, rgvd)","List(prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)"
dhd,872,rgvd,2019-12-1,12,8,"List(bhnd, rgvd)","List(prti2, bhnd, rgvd)","List(pr2, prti2, bhnd, rgvd)","List(prt1, pr2, prti2, bhnd, rgvd)","List(prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2, bhnd, rgvd)"
dhd,781,prti2,2019-11-18,11,7,List(prti2),"List(pr2, prti2)","List(prt1, pr2, prti2)","List(prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)","List(prt4, prti7, prti8, prti10, prt1, pr2, prti2)"
dhd,781,pr2,2019-08-31,8,6,List(pr2),"List(prt1, pr2)","List(prti10, prt1, pr2)","List(prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)","List(prt4, prti7, prti8, prti10, prt1, pr2)"
dhd,781,prt1,2019-07-31,7,5,List(prt1),"List(prti10, prt1)","List(prti8, prti10, prt1)","List(prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)","List(prt4, prti7, prti8, prti10, prt1)"
dhd,781,prti10,2019-05-04,5,4,List(prti10),"List(prti8, prti10)","List(prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)","List(prt4, prti7, prti8, prti10)"
dhd,781,prti8,2019-03-29,3,3,List(prti8),"List(prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)","List(prt4, prti7, prti8)"
dhd,781,prti7,2019-02-02,2,2,List(prti7),"List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)","List(prt4, prti7)"
dhd,781,prt4,2019-01-31,1,1,List(prt4),List(prt4),List(prt4),List(prt4),List(prt4),List(prt4),List(prt4)

In [5]:
df2=df1.select("client_id","value1","name1","a_date","Month","rank")
w8=Window().partitionBy("client_id").orderBy("Month")
df2.withColumn("Modif", F.lead("Month").over(w8)).withColumn("Modif2", F.col("Modif")-F.col("Month")).orderBy(df2.rank).show()

In [6]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

data=  [[200,'Marketing','Jane','Smith'],
        [140,'Marketing','Jerry','Soreky'],  
        [120,'Marketing','Justin','Sauren'],
        [170,'Sales','Joe','Statham'],
        [190,'Sales','Jeremy','Sage'],
        [220,'Sales','Jay','Sawyer'],]
columns= ['SALARY','Dept_name','First_name','Last_name']
df= spark.createDataFrame(data,columns)

df.show()

In [7]:
w=Window().partitionBy("Dept_name")
df.withColumn("Average_Salary", F.avg("SALARY").over(w))\
  .filter(F.col("SALARY")>F.col("Average_Salary"))\
  .select("SALARY","Dept_name","First_name","Last_name")\
  .show()

In [8]:
display(df)

SALARY,Dept_name,First_name,Last_name
200,Marketing,Jane,Smith
140,Marketing,Jerry,Soreky
120,Marketing,Justin,Sauren
170,Sales,Joe,Statham
190,Sales,Jeremy,Sage
220,Sales,Jay,Sawyer