In [1]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
import pandas as pd

In [2]:
list=[[{"value": {"employee": {"employeeid": "1234","employeename": "ABCD","contactNumber": [{"type": "Work","phoneNumber": "1234567890"},{"type": "Home","phoneNumber": "0987654321"}]}}}]]

df=spark.createDataFrame(list,['json'])
df.printSchema()

In [3]:
js=[[{
        "value": {
            "employee": {
                 "employeeid": "1234",
                "employeename": "ABCD",
                 "contactNumber": [
                            {
                                "type": "Work",

                                "phoneNumber": "1234567890"
                            },
                            {
                                "type": "Home",

                                "phoneNumber": "0987654321"
                            }
                        ] }}}]]

df=spark.createDataFrame(js,['json'])
df.show(truncate=False)
df.printSchema()

In [4]:
df.select("json.value.employee").show()

In [5]:
"`value.employee.employeeid`","string", "employeeid","string"),("`value.employee.employeename`","string", "employeename","string"), ("`value.employee.employeename.contactNumber.value.type`","string", "type","string"),("`value.employee.employeename.contactNumber.value.phoneNumber`","string", "phoneNumber","string")

In [6]:
js=[[{"value": {
            "employee": {
                 "employeeid": "1234",
                "employeename": "ABCD",
                 "contactNumber": [
                            {
                                "type": "Work",

                                "phoneNumber": "1234567890"
                            },
                            {
                                "type": "Home",

                                "phoneNumber": "0987654321"
                            }
                        ] }}}]]

df=spark.createDataFrame(js,['json'])

df.show()
df.printSchema()

#+----------------------------------------------------------------------------------------------------------------------------------------------------------------+
#|json                                                                                                                                                            |
#+----------------------------------------------------------------------------------------------------------------------------------------------------------------+
#|[value -> [employee -> [contactNumber -> [{type=Work, phoneNumber=1234567890}, {type=Home, phoneNumber=0987654321}], employeeid -> 1234, employeename -> ABCD]]]|
#+----------------------------------------------------------------------------------------------------------------------------------------------------------------+

#root
 #|-- json: map (nullable = true)
 #|    |-- key: string
 #|    |-- value: map (valueContainsNull = true)
 #|    |    |-- key: string
 #|    |    |-- value: map (valueContainsNull = true)
 #|    |    |    |-- key: string
 #|    |    |    |-- value: string (valueContainsNull = true)

from pyspark.sql.types import *
from pyspark.sql import functions as F

schema = ArrayType(MapType(StringType(),StringType()))
df.select("json.value.employee.employeeid","json.value.employee.employeename",\
         "json.value.employee.contactNumber")\
  .withColumn("contactNumber",F.explode(F.from_json(F.regexp_replace\
                                          (F.regexp_replace("contactNumber","([\\w-]+)", "\"$1\"")\
                                           ,"\=",":"),schema)))\
  .select("employeeid","employeename","contactNumber.type","contactNumber.phoneNumber")\
  .show(truncate=False)

#+----------+------------+----+-----------+
#|employeeid|employeename|type|phoneNumber|
#+----------+------------+----+-----------+
#|      1234|        ABCD|Work| 1234567890|
#|      1234|        ABCD|Home| 0987654321|
#+----------+------------+----+-----------+

In [7]:
from pyspark.sql.types import *
from pyspark.sql import functions as F

schema = ArrayType(MapType(StringType(),StringType()))
df.select("json.value.employee.employeeid","json.value.employee.employeename",\
         "json.value.employee.contactNumber")\
  .withColumn("contactNumber",F.explode(F.from_json(F.regexp_replace\
                                          (F.regexp_replace("contactNumber","([\\w-]+)", "\"$1\"")\
                                           ,"\=",":"),schema)))\
  .select("employeeid","employeename","contactNumber.type","contactNumber.phoneNumber")\
  .show(truncate=False)

In [8]:
from pyspark.sql.types import *
from pyspark.sql import functions as F

schema = ArrayType(MapType(StringType(),StringType()))
df.select("json.value.employee.employeeid","json.value.employee.employeename",\
         "json.value.employee.contactNumber")\
  .withColumn("contactNumber",F.explode(F.from_json(F.regexp_replace\
                                          (F.regexp_replace("contactNumber","([\\w-]+)", "\"$1\"")\
                                           ,"\=",":"),schema)))\
  .select("employeeid","employeename","contactNumber.type","contactNumber.phoneNumber")\
  .show(truncate=False)

In [9]:
df.select(F.explode("json.value.employee.contactNumber")).show()

In [10]:
dictmale={' Bariatrics ': 13, ' Cardiovascular / Pulmonary': 347, ' Neurology': 198}
dictfemale=[{' Bariatrics ': 13, ' Cardiovascular / Pulmonary': 347, ' Neurology': 198}]

In [11]:
list=[[{"value": {
            "employee": {
                 "employeeid": "1234",
                "employeename": "ABCD",
                 "contactNumber": """[{"type": "Work","phoneNumber": "1234567890"},{"type": "Home","phoneNumber": "0987654321"}]"""}}}]]

df=spark.createDataFrame(list,['json'])
df.show()
df.printSchema()

In [12]:
from pyspark.sql import functions as F
from pyspark.sql.types import *

schema = ArrayType(MapType(StringType(),StringType()))
df.select(F.explode("json").alias("key","value"))\
  .select("value.employee.employeeid","value.employee.employeename",\
          ("value.employee.contactNumber"))\
  .withColumn("contactNumber", F.explode(F.from_json("contactNumber",schema)))\
  .select("employeeid","employeename","contactNumber.type", "contactNumber.phoneNumber").show()

In [13]:
c= spark.createDataFrame(
  [
    ('Male', [dictmale]),
    ("Female",dictfemale),

  ],
  ['Gender',"medical_specialty"]
)

In [14]:
c.show(truncate=False)

In [15]:
list=[[1,'John',2],
      [2,'Maria',4],
      [3,'Charles',6]]

df=spark.createDataFrame(list,['ID','Name','Support'])


df.show()

In [16]:
df.withColumn("Name")

In [17]:
from pyspark.sql import functions as F
df.withColumn("Name", F.explode(F.expr("""array_repeat(Name,int(Support))"""))).show()

In [18]:
df.withColumn("Name", F.explode(F.array(*[['Name']*(F.col("Support"))]))).show()

In [19]:
df.withColumn("Name", F.explode(F.expr("""array(Name)*Support)"""))).show()

In [20]:
df.withColumn("Name", F.expr("""repeat(concat(Name,','),Support)"""))\
  .withColumn("Name", F.explode(F.expr("""split(substring(Name,1,length(Name)-1),',')"""))).show()

In [21]:
df.withColumn("Name", F.expr("""repeat(concat(Name,','),Support)"""))\
  .withColumn("Name", F.explode(F.expr("""split(substring(Name,1,length(Name)-1),',')"""))).show()

In [22]:
list=[['1'],
      ['2'],
      ['", Beatrice'],
      ['123yo']]
df=spark.createDataFrame(list,['_c0'])

df.show()

In [23]:
df.withColumn("yo",F.regexp_extract("_c0","\D+",0)).show()

In [24]:
df.filter(F.regexp_extract("_c0","\D+",0)=='').show()

In [25]:
import re as r
df.filter((F.col('_c0')).isin([x for x in range(1,r.count()+1)]))

In [26]:
df.filter((F.col('_c0')).isin([x for x in range(1,df.count()+1)])).show()

In [27]:
[x for x in range(1,10)]

In [28]:
df.filter((F.split("_c0","")[0]).isin([x for x in range(1,10)])).show()

In [29]:
 df.withColumn("Name", F.explode(F.array(F.col("Name"),F.col("Name"),F.col("Name"))))

In [30]:
list=[[1,'John'],
      [2,'Maria'],
      [3,'Charles']]

df=spark.createDataFrame(list,['ID','Name'])
df.show()

In [31]:
df.withColumn("ID", F.explode(F.array(*[['ID']*3]))).show()

In [32]:
df.withColumn("Name", F.explode(F.array(*[['Name']*3]))).show()

In [33]:
stock_prices = pd.DataFrame({
        'date': ['2020-05-04', '2020-05-01', '2020-05-04', '2020-05-01', '2020-05-04', '2020-05-01'],
        'stock':['AAPL', 'AAPL', 'FB', 'FB', 'MSFT', 'MSFT'],
        'price': [290, 289, 204, 202, 177, 174]
})
df=spark.createDataFrame(stock_prices)

df.show()

In [34]:
list1=[['Andorra',42.506,1.5218,2,1],
      ['Australia',-31.81,115.86,1,6],
      ['Austria',41.597,12.580,4,9],
      ['Belgium',21.782,1.286,2,3],
      ['India',78.389,12.972,1,7],
      ['Ireland',9.281,9.286,9,8],
      ['USA',69.371,21.819,7,2]]

df1=spark.createDataFrame(list1,['country','Latitude','Longitude','col1','col2'])

df1.show()

list2=[['Australia',-31.81,115.86,2,6],
       ['Belgium',21.782,1.286,1,6],
       ['India',78.389,12.972,3,5],
       ['USA',69.371,21.819,2,5]]

df2=spark.createDataFrame(list2,['country','Latitude','Longitude','col1','col2'])

df2.show()

In [35]:
df1.join(df2,['Latitude','Longitude'],'left_semi').show()

In [36]:
df2.alias("t2").join(df1.alias("t1"),['Latitude','Longitude'],'left').select("t2.*").show()

In [37]:
list= [['Bob1',16,['x1','x2'],['x1','x3']],
      ['Bob2',16,['x1','x2','x3'],[]]]

df=spark.createDataFrame(list,['Name','Age','P_Attribute','S_Attributes'])

df.show()

In [38]:
from pyspark.sql import functions as F
df.withColumn("Attributes", F.explode(F.array_union(F.expr("""transform(P_Attribute,x-> struct(x as Attribute,1 as Type))"""),\
              F.expr("""transform(S_Attributes,x-> struct(x as Attribute,2 as Type))"""))))\
   .select("Name", "Age", "Attributes.*").show()

In [39]:
df.withColumn("Attributes", F.array_union(F.expr("""transform(P_Attribute,x-> struct(1,x))"""),\
              F.expr("""transform(S_Attributes,x-> struct(2,x))""")))\
   .withColumn("Attributes", F.explode("Attributes"))\
   .select("Name","Age", F.col("Attributes.x").alias("Attribute"),\
           F.col("Attributes.col1").alias("Type")).show()

In [40]:
list=[['Bob1',16,['x1','x2'],['x1','x3'],["ab","1"],[1,2]],
      ['Bob2',16,['x1','x2','x3'],[],["a","b","c"],[]]]

df=spark.createDataFrame(list,['Name','Age','P_Attribute','S_Attributes','P_Values','S_values'])

df.show()

In [41]:
from pyspark.sql import functions as F
df.withColumn("Attributes", F.explode(F.array_union\
               (F.expr("""transform(arrays_zip(P_Attribute,P_Values),x->\
                          struct(x.P_Attribute as Attribute,1 as Type,string(x.P_Values) as Value))"""),\
                F.expr("""transform(arrays_zip(S_Attributes,S_Values),x->\
                          struct(x.S_Attributes as Attribute,2 as Type,string(x.S_Values) as Value))"""))))\
   .select("Name", "Age", "Attributes.*").show()

In [42]:
from pyspark.sql import functions as F
df.withColumn("Attributes", F.explode(F.array_union\
               (F.expr("""transform(arrays_zip(P_Attribute,P_Values),x->\
                          struct(x.P_Attribute as Attribute,1 as Type,string(x.P_Values) as Value))"""),\
                F.expr("""transform(arrays_zip(S_Attributes,S_Values),x->\
                          struct(x.S_Attributes as Attribute,2 as Type,string(x.S_Values) as Value))"""))))\
   .select("Name", "Age", "Attributes.*").show()

In [43]:
from pyspark.sql import functions as F
df.withColumn("Attributes", F.explode(F.array_union(F.expr("""transform(P_Attribute,x-> struct(x as Attribute,1 as Type))"""),\
              F.expr("""transform(S_Attributes,x-> struct(x as Attribute,2 as Type))"""))))\
   .select("Name", "Age", "Attributes.*").show()

In [44]:
df.withColumn("yo", F.struct(F.lit(1),F.lit(2),F.lit('yo'))).printSchema()

In [45]:
list= [['Bob1',16,['x1','x2'],['1','3']],
      ['Bob2',16,['x1','x2','x3'],['4','5','7']]]

df=spark.createDataFrame(list,['Name','Age','S_Attributes','S_value'])

df.show()

In [46]:
df.withColumn("yo",F.expr("""transform(arrays_zip(S_Attributes,S_value), x -> struct(x.S_Attributes as Attribute, x.S_value as Value, 2 as Type))""")).printSchema()

In [47]:
F.expr("""transform(S_Attributes,S_value, x, y -> struct(x as Attribute, y as Vaue, 2 as Type))""")))

In [48]:
df.withColumn("Attributes", F.array_union(F.expr("""transform(P_Attribute,x-> struct(x as Attribute,1 as Type))"""),\
              F.expr("""transform(S_Attributes,x-> struct(x as Attribute,2 as Type))""")))\
   .withColumn("Attributes", F.explode("Attributes"))\
   .select("Name", "Age", "Attributes.*").show()