In [1]:
from pyspark.sql import functions as F 
from pyspark.sql.window import Window
from pyspark.sql.types import *
from pyspark.storagelevel import StorageLevel

In [2]:


#I want to join two dataframes by column timestamp df2.join(df1, how='left'). The next timestamp column df1 is the stop condition

#Dataframes to join

df1 = spark.createDataFrame([(1,  110, 'walk',  'work',  '2019-09-28 13:40:00'),
                         (2,  110, 'metro', 'work',  '2019-09-28 14:00:00'),
                         (3,  110, 'walk',  'work',  '2019-09-28 14:02:00'),
                         (4,  120, 'bus',   'home',  '2019-09-28 17:00:00'),
                         (5,  120, 'metro', 'home',  '2019-09-28 17:20:00'),
                         (6,  120, 'walk',  'home',  '2019-09-28 17:45:00')],
                        ['id', 'u_uuid', 'mode', 'place', 'timestamp'])

df2 = spark.createDataFrame([(1,  '2019-09-28 13:30:00'),
                         (2,  '2019-09-28 13:35:00'),
                         (3,  '2019-09-28 13:39:00'),
                         (4,  '2019-09-28 13:50:00'),
                         (5,  '2019-09-28 13:55:00'),
                         (6,  '2019-09-28 14:01:00'),
                         (7,  '2019-09-28 16:30:00'),
                         (8,  '2019-09-28 16:40:00'),
                         (9,  '2019-09-28 16:50:00'),
                         (10, '2019-09-28 17:25:00'),
                         (11, '2019-09-28 17:30:00'),
                         (12, '2019-09-28 17:35:00')],
                         ['id', 'timestamp'])
  
df1.show()
df2.show()

In [3]:
display(df1.join(df2, df1.timestamp>df2.timestamp))

id,u_uuid,mode,place,timestamp,id,timestamp
1,110,walk,work,2019-09-28 13:40:00,1,2019-09-28 13:30:00
1,110,walk,work,2019-09-28 13:40:00,2,2019-09-28 13:35:00
1,110,walk,work,2019-09-28 13:40:00,3,2019-09-28 13:39:00
2,110,metro,work,2019-09-28 14:00:00,1,2019-09-28 13:30:00
2,110,metro,work,2019-09-28 14:00:00,2,2019-09-28 13:35:00
2,110,metro,work,2019-09-28 14:00:00,3,2019-09-28 13:39:00
2,110,metro,work,2019-09-28 14:00:00,4,2019-09-28 13:50:00
2,110,metro,work,2019-09-28 14:00:00,5,2019-09-28 13:55:00
3,110,walk,work,2019-09-28 14:02:00,1,2019-09-28 13:30:00
3,110,walk,work,2019-09-28 14:02:00,2,2019-09-28 13:35:00
3,110,walk,work,2019-09-28 14:02:00,3,2019-09-28 13:39:00
3,110,walk,work,2019-09-28 14:02:00,4,2019-09-28 13:50:00
3,110,walk,work,2019-09-28 14:02:00,5,2019-09-28 13:55:00
3,110,walk,work,2019-09-28 14:02:00,6,2019-09-28 14:01:00
4,120,bus,home,2019-09-28 17:00:00,1,2019-09-28 13:30:00
4,120,bus,home,2019-09-28 17:00:00,2,2019-09-28 13:35:00
4,120,bus,home,2019-09-28 17:00:00,3,2019-09-28 13:39:00
4,120,bus,home,2019-09-28 17:00:00,4,2019-09-28 13:50:00
4,120,bus,home,2019-09-28 17:00:00,5,2019-09-28 13:55:00
4,120,bus,home,2019-09-28 17:00:00,6,2019-09-28 14:01:00
4,120,bus,home,2019-09-28 17:00:00,7,2019-09-28 16:30:00
4,120,bus,home,2019-09-28 17:00:00,8,2019-09-28 16:40:00
4,120,bus,home,2019-09-28 17:00:00,9,2019-09-28 16:50:00
5,120,metro,home,2019-09-28 17:20:00,1,2019-09-28 13:30:00
5,120,metro,home,2019-09-28 17:20:00,2,2019-09-28 13:35:00
5,120,metro,home,2019-09-28 17:20:00,3,2019-09-28 13:39:00
5,120,metro,home,2019-09-28 17:20:00,4,2019-09-28 13:50:00
5,120,metro,home,2019-09-28 17:20:00,5,2019-09-28 13:55:00
5,120,metro,home,2019-09-28 17:20:00,6,2019-09-28 14:01:00
5,120,metro,home,2019-09-28 17:20:00,7,2019-09-28 16:30:00
5,120,metro,home,2019-09-28 17:20:00,8,2019-09-28 16:40:00
5,120,metro,home,2019-09-28 17:20:00,9,2019-09-28 16:50:00
6,120,walk,home,2019-09-28 17:45:00,1,2019-09-28 13:30:00
6,120,walk,home,2019-09-28 17:45:00,2,2019-09-28 13:35:00
6,120,walk,home,2019-09-28 17:45:00,3,2019-09-28 13:39:00
6,120,walk,home,2019-09-28 17:45:00,4,2019-09-28 13:50:00
6,120,walk,home,2019-09-28 17:45:00,5,2019-09-28 13:55:00
6,120,walk,home,2019-09-28 17:45:00,6,2019-09-28 14:01:00
6,120,walk,home,2019-09-28 17:45:00,7,2019-09-28 16:30:00
6,120,walk,home,2019-09-28 17:45:00,8,2019-09-28 16:40:00
6,120,walk,home,2019-09-28 17:45:00,9,2019-09-28 16:50:00
6,120,walk,home,2019-09-28 17:45:00,10,2019-09-28 17:25:00
6,120,walk,home,2019-09-28 17:45:00,11,2019-09-28 17:30:00
6,120,walk,home,2019-09-28 17:45:00,12,2019-09-28 17:35:00

In [4]:
list=[["08.27.18"]]

df=spark.createDataFrame(list,['date'])

df.show()

In [5]:
list=[[1,'Hello','Repeat'],
      [2,'Word','Repeat'],
      [3,'Aux','No repeat'],
      [4,'Test','Repeat']]

df=spark.createDataFrame(list,['id','col1','col2'])


df.show()

In [6]:
import pyspark.sql.functions as F

(df.withColumn("test",F.when(df['col2']=='Repeat',
       F.array([F.lit(str(i)) for i in range(1,4)])).otherwise(F.array(F.lit(''))))
  .withColumn("col3",F.explode(F.col("test"))).drop("test")
  .withColumn("col3",F.concat(F.col("col1"),F.col("col3")))).show()

In [7]:
df.withColumn("test",F.when(df['col2']=='Repeat',\ F.array([F.concat(F.col("col1"),F.lit(str(i))) for i in range(1,4)])).otherwise(F.array(F.col("col1"))))\ .select("id","col1","col2", F.explode("test").alias("test"))\ .show()

In [8]:
import pyspark.sql.functions as F

df.withColumn("test",F.when(df['col2']=='Repeat',\
       F.array([F.concat(F.col("col1"),F.lit(str(i))) for i in range(1,4)])).otherwise(F.array(F.col("col1"))))\
       .select("id","col1","col2", F.explode("test"))\
       .show()

In [9]:
from pyspark.sql import functions as F
df.withColumn("date", F.date_format(F.to_date("date", "MM.dd.yy"),"MM.dd.yyyy")).show()

In [10]:
list=[[1,2,1],
      [None,3,None],
      [5,3,None]]

df=spark.createDataFrame(list,['col1','col2','col3'])

df.show()

df1=df.withColumn("col3", F.when(F.col("col3").isNotNull(), F.lit(None)).otherwise(F.col("col3")))
df1.show()

In [11]:
cols = [x for x in df1.columns if df1.filter(F.col(x).isNotNull()).count() > 0]
df1.select(*cols).show()

In [12]:
df1.select(*[F.array(x) for x in df1.columns])\
   .drop(*[x for x in df.columns if df.show()

In [13]:
list
df=spark.createDataFrame(list,['date'])
df.show()

In [14]:
import datetime

In [15]:
from pyspark.sql.functions import regexp_replace

df.withColumn('Gender', regexp_replace(regexp_replace(regexp_replace('Gender', 'F','Female'),'M','Male'),' ','missing'))\
  .fillna({'Gender': 'missing'}).show()

In [16]:
from pyspark.sql import functions as F
from pyspark.sql.functions import when


df.withColumn("Gender", F.when(F.col("Gender")=='F',F.lit("Female"))\
              .when(F.col("Gender")=='M',F.lit("Male"))\
              .when(F.col("Gender")==' ',F.lit('missing')).otherwise(F.col("Gender"))).show()

In [18]:
list=[['NT','*1423'],
['ACT','2868'],
['*SA','12242'],
['TAS','4603'],
['WA','35848'],
['*NZ*','806'],
['QLD','44410'],
['missing','2612'],
['VIC','40607'],
['NSW','45195']]

df=spark.createDataFrame(list,['State1','count'])
df.show()

In [19]:
from pyspark.sql import functions as F
df.withColumn("State1", F.expr("""replace(state1,'*')""")).show()

In [20]:
df.selectExpr("replace(State1,'*') as State1","count").show()

In [21]:
df.withColumn("State1", F.regexp_replace("State1","\*","")).show()

In [22]:
df.withColumn("State1", F.when(F.col("State1").contains("*"), F.expr("""substring(State1, 2, length(State1))"""))\
                         .otherwise(F.col("State1"))).show()

In [23]:
df = df.withColumn('Gender', regexp_replace('Gender', 'F','Female'))
df = df.withColumn('Gender', regexp_replace('Gender', 'M','Male'))
df = df.withColumn('Gender', regexp_replace('Gender', ' ','missing'))

In [24]:
df.replace("*","").show()

In [25]:
list=[[True,'10%',200,"""[{"Out_1": "Mean", "Out_2": "25"}, {"Out_1": "Median", "Out_2": "21"}]"""],
[False,'15%',150,"""[{"Out_1": "Mean", "Out_2": "19"}, {"Out_1": "Median", "Out_2": "18"}]"""],
[True,'12%',100,"""[{"Out_1": "Mean", "Out_2": "22"}, {"Out_1": "Median", "Out_2": "20"}]"""]]

df=spark.createDataFrame(list,['Var 1','Var 2','Var 3','JSON Table' ])

df.show(truncate=False)
df.printSchema()

In [26]:
df.select(F.schema_of_json('[{"Out_1": "Mean", "Out_2": "25"}, {"Out_1": "Median", "Out_2": "21"}]').alias("json")).collect()

In [27]:

schema = ArrayType(MapType(StringType(),StringType()))
schema1= 'array<struct<Out_1:string,Out_2:string>>'

df\
     .withColumn("JSON Table", F.explode(F.from_json("JSON Table", schema)))\
     .select(F.col('*'), F.col('JSON Table')).select("Var 1","Var 2","Var 3","JSON Table.Out_1","JSON Table.Out_2").show()

In [28]:
from pyspark.sql import functions as F
from pyspark.sql.types import *
schema = ArrayType(MapType(StringType(),StringType()))
df.withColumn("JSON Table", F.explode(F.from_json("JSON Table", schema)))\
  .select("Var 1","Var 2","Var 3","JSON Table.Out_1","JSON Table.Out_2").show()

In [29]:
from pyspark.sql import functions as F 
from pyspark.sql.window import Window
from pyspark.sql.types import *
from pyspark.storagelevel import StorageLevel

In [30]:
STANDARD_TENORS = [1, 2, 3]
mydata1 = ("A", 100, 2) 
mydata2 = ("A", 200, 1) 
mydata3 = ("B", 300, 1) 
mydata4 = ("B", 400, 2) 
mydata5 = ("B", 500, 3) 
mydata6 = ("C", 600, 3)
myDataAll=[mydata1, mydata2, mydata3, mydata4, mydata5, mydata6]
df = spark.createDataFrame(myDataAll,['Name','Number','days'])
df.show()

In [31]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .groupBy("Name").agg(F.collect_list("Number").alias("Number")\
                      ,F.first("days2").alias("days2"),F.collect_list("days").alias("days"))\
  .withColumn("day5", F.expr("""transform(array_except(days2,days),days-> struct(bigint(-1),days))"""))\
  .withColumn("days3", F.explode(F.expr("""array_union(arrays_zip(col1,days),day5)"""))).select("Name","days3.*")\
  .withColumn("Number", F.when(F.col("Number")==-1, F.lit(None)).otherwise(F.col("Number")))\
  .orderBy("Name","days")\
  .show(truncate=False)

In [32]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .groupBy("Name").agg(F.collect_list("Number").alias("col1")\
                      ,F.first("days2").alias("days2"),F.collect_list("days").alias("x"))\
  .withColumn("days3", F.arrays_zip(F.col("col1"),F.col("x")))\
  .withColumn("days4", F.array_except("days2","x"))\
  .withColumn("day5", F.expr("""transform(days4,x-> struct(bigint(-1),x))"""))\
  .withColumn("days3", F.explode(F.array_union("days3","day5"))).select("Name","days3.*")\
  .withColumn("Number", F.when(F.col("col1")==-1, F.lit(None)).otherwise(F.col("col1"))).drop("col1")\
  .withColumnRenamed("x","days")\
  .orderBy("Name","days")\
  .show(truncate=False)

In [33]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .groupBy("Name").agg(F.collect_list("Number").alias("col1")\
                      ,F.first("days2").alias("days2"),F.collect_list("days").alias("x"))\
  .withColumn("days4", F.array_except("days2","x"))\
  .withColumn("day5", F.expr("""transform(days4,x-> struct(bigint(-1),x))"""))\
  .withColumn("zip", F.explode(F.array_union(F.arrays_zip(F.col("col1"),F.col("x")),"day5"))).select("Name","zip.*")\
  .withColumn("Number", F.when(F.col("col1")==-1, F.lit(None)).otherwise(F.col("col1"))).drop("col1")\
  .select("Name", "Number", F.col("x").alias("days"))\
  .orderBy("Name","days")\
  .show(truncate=False)

In [34]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .groupBy("Name").agg(F.collect_list("Number").alias("col1")\
                      ,F.first("days2").alias("days2"),F.collect_list("days").alias("x"))\
  .withColumn("days3", F.arrays_zip(F.col("col1"),F.col("x")))\
  .withColumn("days4", F.array_except("days2","x"))\
  .withColumn("day5", F.expr("""transform(days4,x-> struct(bigint(-1),x))"""))\
  .withColumn("days3", F.explode(F.array_union("days3","day5"))).select("Name","days3.*")\
  .withColumn("Number", F.when(F.col("col1")==-1, F.lit(None)).otherwise(F.col("col1"))).drop("col1")\
  .select("Name", "Number", F.col("x").alias("days"))\
  .orderBy("Name","days")\
  .show(truncate=False)

In [35]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .groupBy("Name").agg(F.collect_list("Number").alias("col1")\
                      ,F.first("days2").alias("days2"),F.collect_list("days").alias("x"))\
  .withColumn("days3", F.arrays_zip(F.col("col1"),F.col("x")))\
  .withColumn("days4", F.array_except("days2","x"))\
  .withColumn("day5", F.expr("""transform(days4,x-> struct(bigint(-1),x))"""))\
  .withColumn("days3", F.explode(F.array_union("days3","day5"))).select("Name","days3.*")\
  .withColumn("Number", F.when(F.col("col1")==-1, F.lit(None)).otherwise(F.col("col1"))).drop("col1")\
  .select("Name", "Number", F.col("x").alias("days"))\
  .orderBy("Name","days")\
  .show(truncate=False)

In [36]:
mydata1 = ("A", 100, 1)
mydata2 = ("A", 200, 2)
mydata3 = ("B", 300, 1)
mydata4 = ("B", 400, 2)
mydata5 = ("B", 500, 3)
mydata6 = ("C", 600, 1)
myDataAll = [mydata1, mydata2, mydata3, mydata4, mydata5, mydata6]

STANDARD_TENORS = [1, 2, 3]

df_sd = spark.createDataFrame(STANDARD_TENORS, IntegerType())
df_sd = df_sd.withColumnRenamed("value", "days")

df_sd.show()

df = spark.createDataFrame(myDataAll,['Name','Number','days'])
df.show()

In [37]:
from pyspark.sql import functions as F
df_sd.agg(F.collect_list("days").alias("days")).join(\
df.orderBy("Name","days").groupBy("Name")\
.agg(F.collect_list("Number").alias("Number"),F.collect_list("days").alias("days1")),\
                      F.size("days")>=F.size("days1")).drop("days1")\
     .withColumn("zipped", F.explode(F.arrays_zip("Number","days")))\
     .select("Name","zipped.*")\
     .orderBy("Name","days")\
     .show()

In [38]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .orderBy("Name","days")\
  .groupBy("Name").agg(F.collect_list("Number").alias("Number")\
                      ,F.first("days2").alias("days"))\
  .withColumn("zipped", F.explode(F.arrays_zip("Number","days")))\
  .select("Name","zipped.*").orderBy("Name","days").show()

In [39]:
from pyspark.sql import functions as F
df.withColumn("days2", F.array(*[F.lit(x) for x in STANDARD_TENORS]))\
  .orderBy("Name","days")\
  .groupBy("Name").agg(F.collect_list("Number").alias("Number")\
                      ,F.first("days2").alias("days"))\
  .show()